body {
  background-color: #161925;
  color: #fbfafa;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#161925, #282c3d);
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #4089bd;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

@font-face {
  font-family: "gothembold"; /*a name to be used later*/
  src: url("Gotham-Bold.woff"); /*URL to font*/
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
section {
min-height: 100vh;

}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #23395b;
  border: none;
  margin: 20px 170px 0px 170px;
  padding: 5px 50px;
  border-radius: 40px;
  color: #bfd0e9;
  box-shadow: 4px 4px 4px #161925;
  margin-bottom: 30px;
  position: sticky;
  top: 15px;
  z-index: 1;
}

.navbar a {
  text-decoration: none;
  color: #bfd0e9;
  position: relative;
  transition: color 0.3s, transform 0.3s;
}

.navbar a:hover {
  color: #fff;
  transform: scale(1.1);
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar a:hover::after {
  transform: scaleX(1);
}

#navs {
  margin-right: auto;
  position: absolute;
  left: 0px;
  top: -8px;
  color: #d8e2f0;
  font-weight: 700;
  font-size: 25px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

#sidebar1 {
  display: none;
}

#side1 {
  display: none;
}

#side0 {
  display: none;
}

.links-ct {
  display: none;
}

@media only screen and (max-width: 838px) {
  #side0 {
    display: block;
    position: relative;
    top: -50px;
    right: -50px;
  }
  #side1 {
    display: block;
    position: fixed;
    top: 10px;
    right: 50px; /* adjust this value to position it correctly */
  }

  .navbar {
    display: none;
  }
  .links-ct {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color: #23395b;
    border-radius: 0;
    box-shadow: -5px 0 5px black 0.25px;
    transition: 0.7s ease-out;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
  }
  .links-ct a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    align-items: flex-start;
    text-decoration: none;
    color: white;
  }
  #sidebar1:checked ~ .links-ct {
    display: flex;
    right: -15%;
  }
  #sidebar1:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

.intro {
  min-height: 84.6vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#realp {
  margin: 100px 0 60px;
  font-family: sans-serif;
  font-weight: 200;
}

.introin {
  padding-left: 30px;
}

#img1 {
  width: 600px;
}

@media only screen and (max-width: 1180px) {
  #img1 {
    width: 400px;
  }
  .intro {
    font-size: 29px;
    padding: 0;
    margin: 0;
    
  }
}

@media only screen and (max-width: 874px) {
  #img1 {
    width: 0;
    margin-right: 60px;
    display: none;
  }
  .intro {
    
    font-size: 24px;
    min-height: 84vh;
    width: 100%;
    font-size: 34px;
    padding-top: 50px;
    align-items: center;
    
  }
}

@media only screen and (max-width: 838px) {
  #img1 {
    width: 0;
    display: none;
  }
  
}

#btn1 {
  background-color: #4089bd;
  border: none;
  border-radius: 10px;
  color: #161925;
  font-size: 25px;
  padding: 15px 30px;
  font-weight: bold;
  margin-top: -10px;
  box-shadow: 2px 2px 10px #4089bd;
  transition: transform 0.3s, color 0.3s, background-color 0.3s;
  text-decoration: none;
}

#btn1:hover {
  transform: translateY(-5px);
  background-color: #161925;
  color: #4089bd;
  box-shadow: 2px 2px 10px #f5f5f5;
  border: #f5f5f5 2px solid;
}

#divy {
  color: #4089bd;
}

.typewriter {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #4089bd;
  animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
}

#about {
  background-color: #242736;
  width: 100%;
  min-height: 97vh;
  animation: fadeIn 2s ease-in-out;
}
#aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

.aboutborder {
  border: 3px solid #8ea8c3;
  border-radius: 30px;
  display: flex;
  padding: 30px 45px;
  box-shadow: #14171b 2px 2px 10px;
  background-color: #2d3144;
  transition: 0.4s ease-in;
}
.aboutborder:hover {
  box-shadow: #91abc7 4px 4px 10px;
  background-color: #3f445e;
  transform: translateY(-5px);
  color: #d6e2f3;
}

.btn3 {
  margin-top: 30px;
  background-color: #4089bd;
  border: none;
  border-radius: 10px;
  color: #161925;
  font-size: 25px;
  padding: 15px 30px;
  font-weight: bold;
  box-shadow: 2px 2px 10px #4089bd;
  transition: transform 0.6s, color 0.3s, background-color 0.3s;
  text-decoration: none;
}

.btn3:hover {
  background-color: #000000;
  color: #ffffff;
  box-shadow: 1px 1px 5px #fefeff;
}

#img3 {
  width: 400px;
  height: 400px;
  padding-right: 40px;
}
#about-header {
  padding-top: 140px;
  font-size: 40px;
  text-align: center;
  font-family: sans-serif;
}
#about-head h2 {
  font-size: 50px;
  padding-bottom: 10px;
}
#about-head p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

@media only screen and (max-width: 1180px) {
  #img3 {
    width: 300px;
    height: 300px;
    margin-top: 40px;
  }

  #about-header {
    padding-top: 100px;
  }

  #about-head {
    font-size: 30px;
  }

  .aboutborder {
    width: 80%;
    padding: 40px;
  }
}

@media only screen and (max-width: 874px) {
  #img3 {
    width: 200px;
    height: 200px;
    padding-top: 13%;
  }

  #about-head {
    font-size: 20px;
  }
  .aboutborder {
    width: 75%;
    padding: 25px;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 838px) {
  #img3 {
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
    
  }
  #about-header {
    padding-top: 20px;
    position: relative;
    top: 40px;
   
  }
  .aboutborder {
    flex-direction: column;
    width: 80%;
    height: 70%;
    padding: 25px;
    margin-bottom: 60px;
    
  }

  #about-head{
    font-size: 20px;
  }
}

@media only screen and (max-width: 700px) {
  #img3 {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    
    
  }
  #about-header {
    padding-top: 10px;
    position: relative;
    top: 20px;
   
  }
  .aboutborder {
    flex-direction: column;
    width: 80%;
    height: 70%;
    padding: 20px;
    margin-bottom: 60px;
    position: relative;
    top: -40px;
    
  }

  #about-head{
    font-size: 10px;
  }
}

@media only screen and (max-width: 500px) {
  #img3 {
    display: none;
    
    
  }
  #about-header {
    position: relative;
    top: 20px;
   
  }
  .aboutborder {
    flex-direction: column;
    width: 80%;
    height: 60%;
    padding: 20px;
    position: relative;
  

    
    
  }

  #about-head{
    font-size: 7px;
  }
  #about{
    font-size: 7px;
    margin-bottom: 20px;
  }
}


@media only screen and (max-width: 550px) {
  #img3 {
    display: none;
    
    
  }
  #about-header {
    position: relative;
    top: 20px;
   
  }
  .aboutborder {
    flex-direction: column;
    width: 80%;
    height: 60%;
    padding: 20px;
    position: relative;
    top: -100px;


    
    
  }

  #about-head{
    font-size: 7px;
  }
  #about{
    font-size: 7px;
    margin-bottom: 20px;
  }
  .btn3{
    display: flex;
  }
}

@media only screen and (max-height: 780px) {
  #img3 {
    display: none;
    
    
  }
  #about-header {
    position: relative;
    top: 20px;
   
  }
  .aboutborder {
    flex-direction: column;
    width: 80%;
    height: 60%;
    padding: 20px;
    position: relative;
  


    
    
  }

  #about-head{
    font-size: 7px;
  }
  #about{
    font-size: 7px;
    margin-bottom: 20px;
  }
  .btn3{
    display: none;
  }
}



#projects {
  padding: 50px 0;
  background-color: #1d212e;
  color: #fbfafa;
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.projects-header {
  font-size: 40px;
  position: relative;
  bottom: 28vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;

  
}


.slider-container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  width: 100%;

}

#slider{
  display: grid;
  grid-auto-flow: column;
 grid-gap: 20px;
 grid-auto-columns: calc((100%  / 3) -12px);

 }


.project-card{

  display: flex;
  flex-direction: column;
  padding: 40px;
 border: #bfd0e9 solid 2px;
 border-radius: 10px;
 height: 150px;
 width: 150px;
 margin: 10px;
 background-color: #2f313d;
 box-shadow: 0 0 10px #000000;
 

 
}

.project-card:hover{
  background-color: #2f313d;
  box-shadow: 0 0 10px #000000;
  transform: scale(1.08);
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.project-link{
  text-decoration: none;
  background-color: #4089bd;
  border: none;
  border-radius: 10px;
  color: #161925;
  padding: 10px 20px;
  font-weight: bold;
  box-shadow: 2px 2px 10px #4089bd;
  transition: transform 0.3s, color 0.3s, background-color 0.3s;
  text-decoration: none;
  
}

.project-link:hover {
  background-color: #000000;
  color: #ffffff;
  box-shadow: 1px 1px 5px #fefeff;
}


@media (max-width: 1310px) {
  .project-card{
    width: 100px;
    

  }
}

@media (max-width: 1080px) {
  .project-card{
    width: 80px;
    }
}

@media (max-width: 1002px) {

  #slider{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .project-card{
    width: 80%;
   
  }

  #projects{
    height: auto;
  }

  .projects-header{
    display: none;
  }
}






#radar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

#skills {
  background-color: #242736;
  padding: 50px;
 
}

#skills-header {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}







#skills-ct  {
  display: flex;
  flex-wrap: wrap;
  transform: translateY(50px);
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px){
  #radar{
    width: 100%;
    height: 100%;
    margin-top: 150px;
    transform: translateY(-10px);

    }

    #skills{
      height: 100vh;
    }


    
}












#contact {
  background-color: #1d212e;
  padding: 50px;
  min-height: auto;}

#contact-header {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

#contact-ct p {
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
  color: #fff;
}

#socialheader {
  font-size: 40px;
  text-align: center;
  padding-top: 80px;
  color: #fff;
}

#social {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.social-card {
  background-color: #979db4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.social-card:hover {
  transform: scale(1.05);
}

.social-img {
  width: 50px;
  height: 50px;
}
/* Desktop and tablet styles */
#social {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.social-card {
  background-color: #979db4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.social-card:hover {
  transform: scale(1.05);
}

.social-img {
  width: 30px;
  height: 30px;
}

/* Mobile styles (max-width: 768px) */
@media only screen and (max-width: 768px) {
  #social {
   
    align-items: center;
  }
  .social-card {
    margin-bottom: 20px;
  }
  .social-img {
    width: 30px;
    height: 30px;
  }
}

/* Small mobile styles (max-width: 480px) */
@media only screen and (max-width: 480px) {
  #social {
    padding-top: 20px;
  }
  .social-card {
    padding: 10px;
  }
  .social-img {
    width: 20px;
    height: 20px;
  }
}

/* Extra small mobile styles (max-width: 320px) */
@media only screen and (max-width: 320px) {
  #social {
    padding-top: 10px;
  }
  .social-card {
    padding: 5px;
  }
  .social-img {
    width: 15px;
    height: 15px;
  }
}